<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/dist/styles/main.css">
    <title>Grunt</title>
</head>
<body>
    <header>
        <h1>Sorteador Digital</h1>
    </header>
    <main>
        <form action="#">
            <label for="number">Digite número de participantes:</label>
            <input type="number" name="number" id="number">
            <button type="submit">Sorteie</button>
        </form>
        <p class="numero_sorteado"></p>
    </main>
</body>
</html>