// Variáveis no Less
@font_header: Sans;
@color_font_header: #fff;
@font_size_original: 4rem;
@quebra_desk: ~"(min-width:1020px)";//scaping;
// fim variáveis

// Seletor
#seletor_p(@color, @font-size_seletor:4rem){
    color: @color;
    font-size: @font-size_seletor;
}

// fim seletor

// Maps
@tamanhos_display:{
    smartphone: 460px;
    tablet: 750px;
    desk:1280px;
}


// fim maps
body{
    background-color: black;

}

header{
    display: block;
}


#p{
    #seletor_p(purple, 6rem);
}

header h1{
    font-family: @font_header;
    color: @color_font_header;
    font-size: @font_size_original;
}
@media @quebra_desk{//@media(min-width:500px)
    header h1{
        font-size: 1rem;
    }
    #p{
        #seletor_p(white, 1rem);
    }    
    
}

@media (min-width: @tamanhos_display[tablet]) {
    header{
        display: inline;
    }
    header h1{
        color: blue;

    }
}