* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.produtos {
    max-width: 640px;
    width: 100%;
    margin: 56px auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 1%;
}

.produto__conteudo {
    box-shadow: 0 0 5px rgb(12, 100, 35);
    border: 1px solid #333;
    border-radius: 4px;
} /* bloco */

.produto__imagem { /* elemento */
    width: 100%;
}

.produto__nome { /* elemento */
    font-size: 1.2em;
    margin: 8px 0;
}

.produto__descricao { /* elemento */
    color: gray;
}

.produto--em-destaque { /* modificador */
    border: 4px dashed gold;
    padding: 8px;
    background-color: #ffff42;
}