@background_color: #ff7fff;
@color_text: rgba(52, 52, 116, 0.808);

body {
    background-color: @background_color;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

