@background_color: #ff7fff;
@color_text: rgba(52, 52, 116, 0.808);

body {
    background-color: @background_color;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

header {
    h1 {
        font-size: 4em;
        font-family: cursive;
        color: #ffffff;
    }
}

main {
    form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        color: @color_text;
    }

    label {
        font-size: 1.5em;
        .margin();

    }

    input {
        background-color: transparent;
        color: @color_text;
        .margin();
        outline: none;
        font-size: 2em;
        padding: 4px;
        border: none;
        text-align: center;
        border-bottom: 2px solid @color_text;
        max-width: 100px;
        display: block;
    }

    .margin() {
        margin-bottom: 10px;
    }

    button {
        width: 92px;
        height: max-content;
        border-radius: 5px;
        cursor: pointer;
        color: @color_text;
        font-size: 1.5em;
        padding: 4px;
    }
}

.resultado {
    p {
        margin-top: 10px;
        border: 4px dashed #ffffff;
        font-size: 1.6em;
        color: @color_text;
    }
}